sudo: false
language: python
matrix:
  include:
  - name: Tox
    python: 3.6
    install: pip install -U tox-travis
    script:
    - tox
  - name: Coverage
    install: pip install -r requirements_test.txt
    python: 3.6
    script:
    - make coverage
    after_success:
    - codecov
    - coveralls
deploy:
  provider: pypi
  server: https://test.pypi.org/legacy/
  user: fredrikbaberg
  password:
    secure: ZRdPNZDcwISTkqZYxbjxk5gfxHvLVe/pOOpsccXVfUPTRWcMvW0jEVAUTrkYqY8esGPT87r7B20dTDyP96ccQ8VXzDLjMyyYkkOy3DW5qkx86QvQYPYgSmqnh52T3uj41v0L6P71wWJ0sM4ggqwu8/oQ+a8BI0zclEndl8KJ3Z+DHinySS1CSTw7oLfF7aiNILjuZAZIhKwIvthK7gGFHpCwbuKsYtxrol3GlRfNWUeupfYScpUZ2HVoGYiNP1iGDiaPb9CjnXrkrvvjzAqP8yL1z5Ch2pPWKc33JGal+9iwclwJRiChPcz9HKS92YCPbVIGzJOkSRuaM8nDlQNsuipLp5mGeVqcClUwtLyK/CSef6QExFO2YztA0Cn4P+pov+g306WDh32ct1v9vVzt7evgVr8ll+AhRqRyXUS6/KdtVnbfQjB90Apu7uPXiSbW0gKumLfib8ElsyXmGXwaaHRXa3JfpVWPMs41Qzor56K2WJ5Uq9lPLeFGDbecer2VLdZy0uPt2/jVM6c+oJ9aMPd/v6sGrZLCaAPrOFgtWE8cgoD6ZqK68+x0mfZMFkrSGyIPMaKStv5wlAe4DtYVZZFj78TXyrn3WOaNcnBkDlPCt+rxtRbrA9ZTgoAeJ1LyfvfJf2Op8Ca19Lb93DBOx0j0AIMwwTJ6Ea6ZdkcsZVE=
  distributions: "sdist bdist_wheel" # Your distributions here
  #on:
  #  tags: true
